body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: grey 5px 5px 10px;
    padding: 40px;
}
#transaction-area{
    display: none;
}
.Deposit{
   background-color: slateblue;
}
.Withdraw{
    background-color: lightsalmon;
}
.Balance{
    background-color: orange;
}
.status{
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}